<!DOCTYPE html>
<th:block th:replace="~{basic/basicTemplate :: setContent(~{this::content})}" xmlns:th="http://www.w3.org/1999/xhtml">
    <th:block th:fragment="content">
        <script th:inline="javascript">
            $(function (){

                let likeCount = [[${detailView.like}]];

                $("#like-btn").click(function (){

                    let boardId = $("#id").val();

                    $.ajax({
                        url: "/zerogreen/community/like/" + boardId,
                        method: "post",
                        dataType: "json",
                        data: {
                            boardId: boardId
                        }
                        // success: function (data) {
                        //     if (data === 0) {
                        //         $("#like-btn").replaceWith("<button type='button' id='dislike-btn'>😍</button>");
                        //         $(".like-count").load(location.href + " .like-count");
                        //         location.reload();
                        //     }
                        // }
                    })
                        .done(function (data) {
                        if (data.count === 1) {
                            $("#like-btn").html("😒");
                            $(".like-cnt").text(likeCount);
                            console.log(likeCount);
                        } else if (data.count === 0) {
                            $("#like-btn").html("😍");
                            $(".like-cnt").text(likeCount);
                            console.log(likeCount);
                        }
                    });
                }); // like-btn end.


            });
        </script>
        <div th:object="${detailView}">
            <!-- 상세보기 제목 -->
            <input type="hidden" th:field="*{id}">
            <h1 th:field="*{category}" th:text="*{category.categoryName}"></h1>
            <h2 th:field="*{title}" th:text="*{title}"></h2>
            <p th:field="*{nickname}" th:text="*{nickname}"></p>
            <div th:field="*{modifiedDate}" th:text="*{modifiedDate}"></div>
            <div th:field="*{count}" th:text="*{count}"></div>
            <div sec:authorize="isAuthenticated()" id="like-wrapper">
                <div class="like-count" th:if="${likeCount} == 0" ><p id="like-btn">😒</p> [[*{like}]]</div>
                <div class="like-count" th:if="${likeCount} == 1" ><p id="like-btn">😍</p> [[*{like}]]</div>
            </div>
            <div sec:authorize="isAnonymous()">
                <div>😍 [[*{like}]]</div>
            </div>
        </div>
        <!--/*            <div th:field="*{like}"></div>*/-->
        <!-- 상세보기 내용 -->
        <hr />
        <div th:object="${detailView}">
            <div th:field="*{text}" th:text="*{text}"></div>
        </div>
            <!-- 상세보기 리뷰 -->

    </th:block>
</th:block>
</html>