<!DOCTYPE html>
<th:block th:replace="~{basic/basicTemplate :: setContent(~{this::content})}" xmlns:th="http://www.w3.org/1999/xhtml">
    <th:block th:fragment="content">
        <style>
            .cm-main-wrapper {
                width: 700px;
                margin: 0 auto;
                margin-bottom: 30px;
            }

            .image-wrapper {
                width: 700px;
                margin: 0 auto;
                margin-bottom: 15px;
            }

            .review-text {
                resize: none;
                height: 100px;
                width: 700px;
                border-radius: 5px;
                font-size: 14px;
                padding: 10px;
            }

            like-btn {
                cursor: pointer;
            }

            .like-img {
                width: 17px;
                height: 17px;
            }

        </style>
        <script th:inline="javascript">
            $(function () {

                let boardId = $("#id").val();

                $("#like-btn").click(function () {

                    $.ajax({
                        url: "/zerogreen/community/like/" + boardId,
                        method: "post",
                        dataType: "json",
                        data: {
                            boardId: boardId
                        }
                    })
                        .done(function (data) {
                            if (data.count === 1) {
                                $(".like-img").attr("src", "/zerogreen/bootstrap/images/like/disLike.png")
                                $(".test-count").text(data.totalCount);
                            } else if (data.count === 0) {
                                $(".like-img").attr("src", "/zerogreen/bootstrap/images/like/like.png")
                                $(".test-count").text(data.totalCount);
                            }
                        });
                }); // like-btn end.

                $(".nested-reply-btn").on("click", function () {

                });

                $("#review-send-btn").click(function () {

                    let text = $("#text").val();
                    console.log("Text= " + text)
                    $.ajax({
                        url: "/zerogreen/community/" + boardId + "/reply",
                        method: "post",
                        data: {
                            boardId: boardId,
                            text: text
                        }
                    })
                        .done(function (fragment) {
                            $("#review-table").replaceWith(fragment);
                            alert("댓글이 등록되었습니다.");
                        });
                }); // review send end.

                function replaceTag() {
                    alert("왜????");
                    $(".rp-text").replaceWith(function () {
                        return $('<input>', {type: 'text', name: 'text'})
                    });
                }

            });
        </script>
        <div th:object="${detailView}" class="cm-main-wrapper">
            <!-- 상세보기 제목 -->
            <input type="hidden" th:field="*{id}">
            <!-- 카테고리 -->
            <h1 th:field="*{category}" th:text="*{category.categoryName}"><a></a></h1>
            <!-- 작성자 -->
            <p th:field="*{nickname}" th:text="*{nickname}"></p>
            <!-- 작성일자 -->
            <div th:field="*{modifiedDate}"
                 th:text="${#temporals.format(detailView.modifiedDate, 'yyyy-MM-dd HH:mm')}"></div>
            <!-- 조회수 -->
            <span th:field="*{count}">
                <img th:src="@{/bootstrap/images/list/visibility.png}" width="17px" height="17px">[[*{count}]]
            </span>
            <!-- 회원 좋아요 -->
            <span sec:authorize="isAuthenticated()" id="like-wrapper">
                <span class="like-count" th:if="${likeCount} == 0">
                    <span id="like-btn"><img th:attr="src = @{/bootstrap/images/like/disLike.png}" class="like-img"></span>
                    <span class="test-count">[[*{like}]]</span>
                </span>
                <span class="like-count" th:if="${likeCount} == 1">
                    <span id="like-btn"><img th:attr="src = @{/bootstrap/images/like/like.png}" class="like-img"></span>
                    <span class="test-count">[[*{like}]]</span>
                </span>
            </span>
            <!-- 비회원 좋아요 -->
            <span sec:authorize="isAnonymous()">
                <span><img th:attr="src = @{/bootstrap/images/like/disLike.png}" class="like-img"> [[*{like}]]
                </span>
            </span>
        </div>
        <!-- 상세보기 내용 -->
        <hr/>
        <div th:object="${detailView}" class="cm-main-wrapper">
            <div th:field="*{text}" th:text="*{text}"></div>
        </div>
            <div th:each="imageFile : ${images}" class="image-wrapper">
                <img th:src="@{/community/images/{imageFile}(imageFile=*{imageFile.storeFileName})}" th:value="${imageFile.uploadFileName}"
                width="700px" height="auto">
            </div>
        <hr/>
        <!-- 상세보기 리뷰 -->
        <div id="cm-review-wrapper cm-main-wrapper">
            <div class="review-send" sec:authorize="isAuthenticated()">
                <form th:object="${reply}" method="post">
                    <textarea th:field="*{text}" class="review-text"></textarea>
                </form>
                <button type="button" id="review-send-btn">리뷰 작성</button>
            </div>
            <div id="review-table">
                <div th:each="replyList : ${replyList}">
                    <form>
                        <input type="hidden" th:value="${replyList.id}">
                        <div th:text="${replyList.replier}"></div>
                        <p class="rp-text" th:text="${replyList.text}"></p>
                        <div th:text="${#temporals.format(replyList.createdTime, 'yyyy-MM-dd HH:mm')}"></div>
                        <div>
                        </div>
                        <hr/>
                    </form>
                    <!-- 대댓글 입력 -->

                    <!-- 대댓글 -->
                    <div id="nested-reply">
                        <form>
                            <div th:each="nestedReply : ${nestedReply}">
                                <div th:text="${nestedReply.replier}"></div>
                                <p th:text="${nestedReply.text}"></p>
                                <div th:text="${#temporals.format(nestedReply.createdTime, 'yyyy-MM-dd HH:mm')}"></div>
                            </div>
                        </form>
                    </div>
                    <button type="button" class="rp-modify-btn" th:onclick="replaceTag()">수정</button>
                    <button type="button" class="nested-reply-btn">대댓글</button>
                    <button type="button">삭제</button>
                </div>
            </div>
        </div>
    </th:block>
</th:block>
</html>