<!DOCTYPE html>
<th:block th:replace="~{basic/basicTemplate :: setContent(~{this::content})}" xmlns:th="http://www.w3.org/1999/xhtml">
    <th:block th:fragment="content">
        <script th:inline="javascript">
            function deleteImage(event) {
                let thisBtn = $(event);
                let imageId = thisBtn.parent().find(".image-id").val();
                let filePath = thisBtn.parent().find(".file-path").val();

                $.ajax({
                    url: "/zerogreen/community/" + imageId + "/imageDelete",
                    method: "post",
                    dataType: "json",
                    data: {
                        imageId: imageId,
                        filePath: filePath
                    }
                })
                    .done(function (data) {
                        if (data.key === "success") {
                            thisBtn.parent().find('img').remove();
                            thisBtn.remove();
                        }
                    });
            }
        </script>
        <form method="post" th:object="${writeForm}" th:action enctype="multipart/form-data">
            <div>
                <select th:field="*{category}">
                    <option th:each="categories : ${category}" th:value="${categories.name()}"
                            th:text="${categories.categoryName}"></option>
                </select>
                <textarea th:field="*{text}"></textarea>
                <input type="file" multiple="multiple" th:field="*{imageFiles}">
                <div class="select-img"><img src="" /></div>
            </div>
            <div th:each="imageFile : ${images}" class="image-wrapper">
                <input type="hidden" class="image-id" th:value="${imageFile.id}">
                <input type="hidden" class="file-path" th:value="${imageFile.filePath}">
                <img th:src="@{/community/images/{imageFile}(imageFile=${imageFile.storeFileName})}"
                     th:value="${imageFile.uploadFileName}"
                     width="700px" height="auto">
                <input type="button" value="삭제" onclick="deleteImage(this)">
            </div>
            <button type="submit">수정</button>
            <button type="button">취소</button>
        </form>
    </th:block>
</th:block>
</html>