<!DOCTYPE html>
<th:block th:replace="~{basic/basicTemplate :: setContent(~{this::content})}" xmlns:th="http://www.w3.org/1999/xhtml">
    <th:block th:fragment="content">
        <form method="post" th:object="${writeForm}" th:action enctype="multipart/form-data">
            <div>
                <select th:field="*{category}">
                    <option th:each="categories : ${category}" th:value="${categories.name()}"
                            th:text="${categories.categoryName}"></option>
                </select>
                <textarea th:field="*{text}"></textarea>
<!--/*                <input type="file" multiple="multiple" th:field="*{imageFiles}">*/-->
                <div class="select-img"><img src="" /></div>
            </div>
            <button type="submit">수정</button>
            <button type="button">취소</button>
        </form>
    </th:block>
</th:block>
</html>