<!DOCTYPE html>
<th:block th:replace="~{basic/basicTemplate :: setContent(~{this::content})}" xmlns:th="http://www.w3.org/1999/xhtml">
    <th:block th:fragment="content">
        <style>
            #rg-main-wrapper {
            }

            #category {
                width: 532px;
                height: 35px;
                margin: 0 auto;
            }

            .rg-input {
                resize: none;
                width: 500px;
                height: 200px;
                margin: 0 auto;
                margin-top: 15px;
                padding: 15px;
            }
        </style>
        <form method="post" th:object="${writeForm}" th:action="@{/community/write}" enctype="multipart/form-data">
            <div id="rg-main-wrapper">
                <div>
                    <select th:field="*{category}">
                        <option th:each="categories : ${category}" th:value="${categories.name()}"
                                th:text="${categories.categoryName}"></option>
                    </select>
                </div>
                <div>
                    <textarea th:field="*{text}" class="rg-input"></textarea>
                </div>
                <input type="file" multiple="multiple" th:field="*{imageFiles}">
                <div class="select-img"><img src=""/></div>
            </div>
            <button type="submit">글 작성</button>
            <button type="button">취소</button>
        </form>
        <script>
            $(function () {
                // 이미지 미리보기
                $("#imageFiles").change(function () {
                    if (this.files && this.files[0]) {
                        let reader = new FileReader();
                        reader.onload = function (data) {
                            $(".select-img img").attr("src", data.target.result).width(500);
                        };
                        this.files.reader.readAsDataURL(this.files[0]);
                    }
                });
            });

        </script>
    </th:block>
</th:block>
</html>