<!DOCTYPE html>
<th:block th:replace="~{basic/basicTemplate :: setContent(~{this::content})}" xmlns:th="http://www.w3.org/1999/xhtml">
    <th:block th:fragment="content">
        <link th:href="@{/bootstrap/css/community/communityDetailView.css}" rel="stylesheet"/>
        <script th:inline="javascript" th:src="@{/bootstrap/js/community/communityWrite.js}"></script>

        <form class="write-form" method="post" th:object="${writeForm}" th:action enctype="multipart/form-data">
            <div>
                <select th:field="*{category}">
                    <option th:each="categories : ${category}" th:value="${categories.name()}"
                            th:text="${categories.categoryName}"></option>
                </select>
                <textarea class="rg-input" th:field="*{text}"></textarea>
                <input type="file" multiple="multiple" th:field="*{imageFiles}" accept="image/jpg,image/png,image/jpeg,image/gif">
                <div id="select-img"><img id="rg-img" src="" /></div>
            </div>
            <div th:each="imageFile : ${images}" class="image-wrapper">
                <input type="hidden" class="image-id" th:value="${imageFile.id}">
                <input type="hidden" class="file-path" th:value="${imageFile.filePath}">
                <img th:src="@{/community/images/{imageFile}(imageFile=${imageFile.storeFileName})}"
                     th:value="${imageFile.uploadFileName}"
                     width="532px" height="auto">
                <input type="button" value="삭제" onclick="deleteImageDB(this)">
            </div>

            <div id="button-section">
                <button id="write-btn" type="submit">수정</button>
                <button id="cancle-btn" type="button" onclick="goBack()">취소</button>
            </div>

        </form>
    </th:block>
</th:block>
</html>