<!DOCTYPE html>
<th:block th:replace="~{basic/basicTemplate :: setContent(~{this::content})}" xmlns:th="http://www.w3.org/1999/xhtml">
    <th:block th:fragment="content">
        <link rel="stylesheet" th:href="@{/bootstrap/css/community/communityDeatailView.css}"/>
        <link th:href="@{/bootstrap/css/community/communityList.css}" rel="stylesheet"/>

        <script th:inline="javascript" th:src="@{/bootstrap/js/community/community.js}"></script>
        <script>
            $(function () {
                $.ajax({
                    url: "/zerogreen/api/communityList",
                    method: "get",
                    dataType: "json",
                    contentType: "application/json;charset=UTF-8"
                })
                    .done(function (data) {
                        console.log(data);
                        let html = "";
                        for (let i in data.data.content) {
                            let contentElement = data.data.content[i];
                            console.log(contentElement.text);
                            console.log(contentElement.category);
                            console.log(contentElement.nickname);
                            console.log(contentElement.like);
                            html += "<div class=\"cm-content\">\n"
                            html += "<div id='content-left'>";
                            html += "<div class='main-list-category'>";
                            html += "<span>";
                            // url X
                            html += "<a class='cm-category'>" + contentElement.category + "</a>";
                            html += " </span>";
                            html += "<div class='main-list-text'>";
                            // url X
                            html += "<p><a>"+contentElement.text+"</a></p>";
                            html += "</div>";
                            html += "</div>";
                            html += "</div>";
                            html += "<div class='writer-section'>";
                            html += "<div class='main-list-nickname'>" + contentElement.nickname + "</div>";
                            html += "<span class='test-count number'>" + contentElement.like + "</span>";
                            html += "</div>";

                        }
                            $("#content").append(html);
                    });
            });
        </script>
        <!-- 리스트 -->
        <div class="list-wrapper" th:each="community : ${communityList}">
            <input type="hidden" th:value="${community.id}" class="list-board-id">

            <div class="cm-content">
                <!--리스트 왼쪽-->
<!--/*                <div id="content-left">
                    <div class="main-list-category">
                        &lt;!&ndash; 게시글 카테고리 라벨 &ndash;&gt;
                        <span>
                            <a th:href="@{/community(category=${community.category.name()}) }"
                               th:text="${community.category.categoryName}" class="cm-category">카테고리</a>
                        </span>
                        &lt;!&ndash; 게시글 미리보기 &ndash;&gt;
                        <div class="main-list-text">
                            <p><a th:href="@{/community/read/{boardId}(boardId = ${community.id})}"
                                  th:text="${community.text}">글 내용</a></p>
                        </div>
                    </div>

                    <div>

                        &lt;!&ndash; 게시자 &ndash;&gt;
                        <div class="writer-section">
                            <img class="main-list-profile" th:src="@{'/bootstrap/images/profile/' +${community.vegetarianGrade}+'.png'}" width="15px" height="15px">
                            <div class="main-list-nickname" th:text="${community.nickname}">닉네임</div>
                        </div>

                        <div class="number-section">
                            &lt;!&ndash; 조회수 &ndash;&gt;
                            <span>
                                <img class="eye-icon" th:src="@{/bootstrap/images/list/visibility.png}">
                                <span class="number">[[${community.count}]]</span>
                            </span>
                            &lt;!&ndash; 회원 좋아요 &ndash;&gt;
                            <span sec:authorize="isAuthenticated()" id="like-wrapper">
                                <span class="like-count">
                                    <span class="main-like-btn">
                                        <img class="like-img heart-icon" th:attr="src = @{/bootstrap/images/like/disLike.png}">
                                    </span>
                                    <span class="test-count number">[[${community.like}]]</span>
                                </span>
                            </span>
                            &lt;!&ndash; 비회원 좋아요 &ndash;&gt;
                            <span sec:authorize="isAnonymous()">
                                <img class="like-img heart-icon" th:attr="src = @{/bootstrap/images/like/disLike.png}">
                                <span class="number">[[${community.like}]]</span>
                            </span>
                            &lt;!&ndash; 댓글수 &ndash;&gt;
                            <span>
                                <img class="msg-icon" th:src="@{/bootstrap/images/etc/bubble.png}">
                                <span class="number">[[${community.replyCount}]]</span>
                            </span>
                        </div>
                    </div>
                </div>
                &lt;!&ndash;리스트 오른쪽&ndash;&gt;
                <div id="content-right">
                    &lt;!&ndash;썸네일&ndash;&gt;
                    <div class="thumbnail-box" >
                        <img th:src="@{/community/images/{imageFile}(imageFile=${community.imageName})}">
                    </div>
                </div>*/-->
            </div>
        </div>

    </th:block>
</th:block>
</html>