<!DOCTYPE html>
<th:block th:replace="~{basic/basicTemplate :: setContent(~{this::content})}" xmlns:th="http://www.w3.org/1999/xhtml">
    <th:block th:fragment="content">
        <link rel="stylesheet" th:href="@{/bootstrap/css/community/communityDeatailView.css}"/>
        <script th:inline="javascript" th:src="@{/bootstrap/js/community/community.js}"></script>
        <script>
            $(function () {
                $.ajax({
                    url: "/zerogreen/api/communityList",
                    method: "get",
                    dataType: "json",
                    contentType: "application/json;charset=UTF-8"
                })
                    .done(function (data) {
                        console.log(data);
                    });
            });
        </script>
    </th:block>
</th:block>
</html>