<!DOCTYPE html>
<html th:replace="~{basic/basicTemplate :: layout(~{::section})}" lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>아이디/비밀번호 찾기</title>
</head>
<body>
<section>
    <div id="main-wrapper">
        <div class="container">
            <div id="content">

                <input type="radio" id="find-id" name="tab-item" checked>
                <label class="tab-item" for="find-id"></label>
                <input type="radio" id="find-password" name="tab-item" checked>
                <label class="tab-item" for="find-password"></label>
                <!--/*        <div class="tab-content" id="find-id-content">
                            <form method="post" th:action="@{/members/findMember}" th:object="${findMember}">
                                <input type="text" th:field="*{phoneNumber}">
                                <button id="find-id-btn" type="submit">아이디 찾기</button>
                            </form>
                        </div>*/-->
                <div class="tab-content"  id="find-pwd-content">
                    <form method="post" th:action="@{/members/findMember}" th:object="${findMember}">
                        <label for="username">아이디</label>
                        <input type="text" th:field="*{username}">
                        <label for="phoneNumber">전화번호</label>
                        <input type="text" th:field="*{phoneNumber}">
                        <button type="submit">비밀번호 찾기</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!--/*    <div class="modal">
        <div class="modal-content">
            <div th:text="${username}"></div>
        </div>
    </div>*/-->
</body>
</html>