<!DOCTYPE html>
<th:block th:replace="~{basic/basicTemplate :: setContent(~{this::content})}">
    <th:block th:fragment="content">
                <input type="radio" id="find-id" name="tab-item" checked>
                <label class="tab-item" for="find-id"></label>
                <input type="radio" id="find-password" name="tab-item" checked>
                <label class="tab-item" for="find-password"></label>
                <!--/*        <div class="tab-content" id="find-id-content">
                            <form method="post" th:action="@{/members/findMember}" th:object="${findMember}">
                                <input type="text" th:field="*{phoneNumber}">
                                <button id="find-id-btn" type="submit">아이디 찾기</button>
                            </form>
                        </div>*/-->
                <div class="tab-content"  id="find-pwd-content">
                    <form method="post" th:action="@{/members/findMember}" th:object="${findMember}">
                        <label for="username">아이디</label>
                        <input type="text" th:field="*{username}">
                        <label for="phoneNumber">전화번호</label>
                        <input type="text" th:field="*{phoneNumber}">
                        <button type="submit">비밀번호 찾기</button>
                    </form>
                </div>

<!--/*    <div class="modal">
        <div class="modal-content">
            <div th:text="${username}"></div>
        </div>
    </div>*/-->
    </th:block>
</th:block>
