<!DOCTYPE html>
<th:block th:replace="~{basic/basicTemplate :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <link rel="stylesheet" th:href="@{/bootstrap/css/findMember.css}"/>
        <div class="password-wrapper">
            <div class="password-find">
                <ul class="fm-tab-wrapper">
                    <li class="fm-tab">
                        <a th:href="@{/findMember/id}">아이디 찾기</a>
                    </li>
                    <li class="fm-tab">
                        <a th:href="@{/findMember/password}">비밀번호 찾기</a>
                    </li>
                </ul>
                <hr/>
                <h1>비밀번호를 찾고자 하는 아이디와 연락처를 입력해주세요.</h1>
                <br>
                <form method="post" th:action="@{/findMember/password}" th:object="${findMember}">
                    <div th:if="${#fields.hasGlobalErrors()}">
                        <div th:each="err : ${#fields.globalErrors()}" th:text="${err}"></div>
                    </div>
                    <input type="text" th:field="*{username}" class="fm-input" placeholder="아이디를 입력해주세요."><br>
                    <input type="text" th:field="*{phoneNumber}" class="fm-input" placeholder="연락처를 입력해주세요."><br>
                    <button type="submit">비밀번호 찾기</button>
                </form>
            </div>
        </div>
    </th:block>
</th:block>
