<!DOCTYPE html>
<th:block th:replace="~{basic/basicTemplate :: setContent(~{this::content})}" xmlns:th="http://www.w3.org/1999/xhtml">
    <th:block th:fragment="content">

    <!-- 페이지 css/ js 추가 -->
    <link id="contextPathHolder" th:data-contextPath="${#httpServletRequest.getContextPath()}"/>
    <link th:href="@{/bootstrap/css/member/memberMyInfo.css}" rel="stylesheet"/>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <div class="row gtr-200">
        <!--    왼쪽 프로필-->
        <div class="temp1 profile">
            <div class="profile-div inline">
                <div>프로필사진 위치</div>
                <span class="profile-name">[[${profile.nickname}]]</span>
                <span class="profile-name">님</span>
            </div>
            <div class="profile-div">
                <!-- 내정보 버튼 둘 중에 하나 쓸거임 -->
                <span th:onclick="|javascript:goAccount('${profile.id}')|" >내정보</span>
                <button type="button" class="editMyInfo profile-btn">내정보</button>
            </div>
            <div class="profile-div"><button type="button" class="message profile-btn">쪽지함</button></div>
        </div>

        <!--    우측 메뉴들-->
        <div class="temp2">
            <!--     우측 상단 찜한가게+내 리뷰-->
            <div class="counting">
                <div class="div-cnt inline">
                    <span>[[${likesCount}]]</span><br>
                    <span>찜 한 가게</span>
                </div>
                <div class="div-cnt inline">
                    <span>[[${reviewCount}]]</span><br>
                    <span>내 리뷰</span>
                </div>
            </div>

            <!--     찜한가게-->
            <div class="listing">
                <span class="textList">찜한가게</span>
                <div>라이크넘버, 가게명</div>
                <!-- 임시리스트 -->
                <div th:each="likes: ${listOfLikes}">
                    <span>[[${likes.lno}]]</span>
                    <span>[[${likes.storeMember.storeName}]]</span>
                </div>

            </div>
            <!-- end liked stores -->

            <!--     내 리뷰-->
            <div class="listing">
                <span class="textList">내 리뷰</span>
                <div>리뷰넘버, 가게명, 등록시간</div>

                <!-- 임시리스트 -->
                <div th:each="review: ${listOfReview}">
                    <span>[[${review.rno}]]</span>
                    <span>[[${review.storeName}]]</span>
                    <span>[[${#temporals.format(review.createdTime, 'yyyy-MM-dd HH:mm')}]]</span>
                </div>

            </div>
            <!-- end myReviews -->
        </div>
        <!-- end of right section -->
    </div>
    <!-- end page -->


    <script th:inline="javascript">
        function goAccount(id) {
            //alert('goAccount');
            var url = [[@{/members/account}]];
            location.href = url;
        }
    </script>

    </th:block>
</th:block>