<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/bootstrap/css/memberMyInfo.css}" rel="stylesheet"/>

<div>

<!--    왼쪽 프로필-->
    <div class="temp1">
        <div>
            <span>프로필사진 위치</span><br>
            <span>김그네님</span>
        </div>
        <button type="button">내정보 수정</button><br>
        <button type="button">쪽지함</button>
    </div>

<!--    우측 메뉴들-->
 <div class="temp2">
<!--     우측 상단 찜한가게+내 리뷰-->
    <div>
        <div class="div-cnt">찜한 가게</div>
        <div class="div-cnt">내 리뷰</div>
    </div>

<!--     찜한가게-->
     <div>
         <span>찜한가게</span>
         <div>사진과 가게 명</div>
     </div>

<!--     내 리뷰-->
     <div>
         <span>내 리뷰</span>
         <div>사진, 가게명, 리뷰내용</div>
     </div>
 </div>

</div>