<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<th:block th:fragment="setContent(content)">
    <head>
        <meta charset="UTF-8">
        <title>제로그린</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
                integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <link rel="stylesheet" th:href="@{/bootstrap/css/main.css}"/>
        <link rel="stylesheet" th:href="@{/bootstrap/css/mainpage/mainpage.css}"/>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Noto+Sans+KR:wght@100;300;400&display=swap"
              rel="stylesheet">
        <link rel="icon" type="image/x-icon" th:href="@{/bootstrap/images/favicon.png}"/>
    </head>

    <body>
      <div id="page-wrapper">
        <!-- Header -->
        <div id="header-wrapper">
            <header id="header" class="container">
                <!-- Logo -->
                <div id="logo">
                    <h1><a th:href="@{/}">제로그린</a></h1>
                </div>
                <!-- Nav -->
                <nav id="nav">
                    <ul>
                        <li><a th:href="@{/shop/list}">제로웨이스트샵</a></li>
                        <li><a th:href="@{/food/list}">비건맛집</a></li>
                        <li><a th:href="@{/community}">커뮤니티</a></li>
                    </ul>
                </nav>
                <!--Before Login-->
                <div sec:authorize="isAnonymous()">
                    <button class="btn-login" th:onclick="|location.href='@{/login}'|">로그인</button>
                </div>
                <!--After Login-->
                <div sec:authorize="isAuthenticated()">
                    <button id="btn-logout" class="btn-login" th:onclick="|location.href='@{/logout}'|">로그아웃</button>
                    <img id="profile" th:src="@{/bootstrap/images/profile/lacto.png}"
                         th:onclick="|location.href='@{/member/memberMyInfo}'|" sec:authorize="isAuthenticated()" />
                </div>
            </header>
        </div>
        <!-- Main -->
        <section>
            <div id="main-wrapper">
                <div class="container">
                    <div id="content">
                        <th:block th:replace="${content}"></th:block>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer -->
        <div id="footer-wrapper">
            <footer id="footer" class="container">
                <p>Copyright © zerogreen. All rights reserved.</p>
            </footer>
        </div>
      </div>

        <!-- Scripts -->
        <script th:src="@{/bootstrap/js/jquery.min.js}"></script>
        <script th:src="@{/bootstrap/js/jquery.dropotron.min.js}"></script>
        <script th:src="@{/bootstrap/js/browser.min.js}"></script>
        <script th:src="@{/bootstrap/js/breakpoints.min.js}"></script>
        <script th:src="@{/bootstrap/js/util.js}"></script>
        <script th:src="@{/bootstrap/js/main.js}"></script>
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    </body>
</th:block>
</html>