<!DOCTYPE html>
<th:block th:replace="~{basic/basicTemplate :: setContent(~{this::content})}" xmlns:th="http://www.w3.org/1999/xhtml">
    <th:block th:fragment="content">

        <!-- 페이지 css/ js 추가 -->
        <link id="contextPathHolder" th:data-contextPath="${#httpServletRequest.getContextPath()}"/>
        <link th:href="@{/bootstrap/css/store/storeMyInfo.css}" rel="stylesheet"/>

        <div class="row gtr-200">
            <!--    왼쪽 프로필-->
            <div class="temp1 profile leftSide">
                <div>
                    <span>가게명</span>
                </div>
                <div class="profile-div">
                    <span class="profile-btn inline">나의정보</span>
                </div>

                <div class="profile-div">
                    <span class="profile-btn inline">가게정보</span>
                </div>
            </div>

            <!--    우측 메뉴들-->
            <div class="temp2 rightSide">

                <!--     우측 상단 좋아요 수 + 리뷰 수-->
                <div class="counting">
                    <div class="div-cnt inline">
                        <span>여기 숫자</span><br>
                        <span>좋아요 수</span>
                    </div>
                    <div class="div-cnt inline">
                        <span>여기 숫자</span><br>
                        <span>리뷰 수</span>
                    </div>
                </div>
                <!-- end of counting -->

            </div>
            <!-- end of right section -->

        </div>
        <!-- end page -->

    </th:block>
</th:block>