<!DOCTYPE html>
<th:block th:replace="~{basic/basicTemplate :: setContent(~{this::content})}" xmlns:th="http://www.w3.org/1999/xhtml"
          xmlns:sec="http://www.w3.org/1999/xhtml">
    <th:block th:fragment="content">

        <!-- 페이지 css/ js 추가 -->
        <script th:inline="javascript" th:src="@{/bootstrap/js/storeInfo.js}"></script>
        <link rel="stylesheet" th:href="@{/bootstrap/css/register.css}">
        <link rel="stylesheet" th:href="@{/bootstrap/css/member/store.css}">

        <!-- 본문 시작 -->
        <div sec:authorize="isAuthenticated()">
            <div style="margin: 2em 0 !important;" sec:authorize="hasRole('ROLE_STORE')">
                <div class="center-box">
                    <div class="py-5 text-center">
                        <h2 class="title"><span>내 가게 정보 수정</span></h2>
                    </div>

                    <div class="store-info">
                        <!-- 매장 이름 -->
                        <h3 class="title">
                            <img class="grade" th:src="@{/bootstrap/images/profile/STORE.png}">
                            <span id="store-name">[[${storeInfo.storeName}]]</span>
                        </h3>

                        <!-- 사업장 종류 -->
                        <label class="join-label">사업장 종류</label>
                        <div class="storeType">
                            <div th:each="stores : ${storeTypes}">
                                <input type="radio" style="margin-left: 10px;" th:value="${stores.name()}"
                                       th:checked="${stores.name() == storeInfo.storeType.name()}" disabled>
                                <label th:text="${stores.storeType}"/>
                            </div>
                        </div>
                    </div>

                    <form method="post" th:action="@{/stores/update}" th:object="${storeInfo}">
                        <div class="update-info">
                            <!-- 가게 연락처 -->
                            <div>
                                <label for="storePhoneNumber" class="join-label">가게 전화번호</label>
                                <input type="text" class="form-control update-box" id="storePhoneNumber"
                                       th:field="*{storePhoneNumber}">
                                <!--                                            <div th:errors="*{storePhoneNumber}" class="field-error">-->
                                <!--                                                전화번호를 입력해주세요-->
                                <!--                                            </div>-->
                            </div>

                            <!-- 영업시간 -->
                            <div>
                                <label class="join-label">영업시간</label>
                                <input type="time" class="time startTime" th:field="*{openTime}"/>
                                ~ <input type="time" class="time closeTime" th:field="*{closeTime}"/>
                            </div>

                            <!-- 가게 소개 -->
                            <div>
                                <label for="storeDescription" class="join-label">가게 소개
                                    <span class="cm-text-count">0 / 300</span></label>
                                <textarea class="form-control update-box description" id="storeDescription"
                                          th:field="*{storeDescription}" onkeyup="limitTextInput(this)"></textarea>
                            </div>

                            <!-- 소셜 주소 -->
                            <div>
                                <label class="join-label">소셜 주소</label>
                                <input type="text" class="form-control update-box"
                                       th:field="*{socialAddress1}">
                                <div th:if="*{socialAddress2}==null">
                                    <img class="add" id="socialAdd" th:src="@{/bootstrap/images/add.png}">
                                    <input type="text" class="form-control update-box"
                                           th:field="*{socialAddress2}" hidden>
                                </div>
                                <div th:if="*{socialAddress2}!=null">
                                    <input type="text" class="form-control update-box"
                                           th:field="*{socialAddress2}">
                                </div>
                            </div>

                            <!-- 메뉴 / 상품 -->
                            <!-- VEGAN FOOD -->
                            <label class="join-label" th:if="${storeInfo.storeType.name() != 'ECO_SHOP'}">메뉴</label>
                            <label class="join-label" th:if="${storeInfo.storeType.name() == 'ECO_SHOP'}">상품</label>
                            <input type="text" class="form-control menu" id="menuName" placeholder="이름">
                            <input type="number" step="10" class="form-control price" id="menuPrice" placeholder="가격">


                            <!-- 비건 등급 -->
                            <div th:if="${storeInfo.storeType.name() == 'VEGAN_FOOD'}">
                                <div>
                                    <label th:each="vegan : ${vegan}">
                                        <input type="radio" style="display: none" name="vegetarianGrade"
                                               th:value="${vegan.name()}">
                                        <img class="grade"
                                             th:src="@{'/bootstrap/images/profile/'+${vegan.name()}+'.png'}">
                                    </label>
                                </div>
                            </div>
                                <span class="addBtn" id="menuAdd" th:if="${storeInfo.storeType.name() == 'VEGAN_FOOD'}">메뉴 추가</span>
                                <span class="addBtn menuAdd" th:if="${storeInfo.storeType.name() == 'GENERAL_FOOD'}">메뉴 추가</span>
                                <span class="addBtn menuAdd" th:if="${storeInfo.storeType.name() == 'ECO_SHOP'}">상품 추가</span>

                                <!-- 메뉴 목록 -->
                                <div>
                                    <label class="join-label" th:if="${storeInfo.storeType.name() != 'ECO_SHOP'}">메뉴 목록</label>
                                    <label class="join-label" th:if="${storeInfo.storeType.name() == 'ECO_SHOP'}">상품 목록</label>
                                    <!-- Grade Table -->
                                    <div class="table" th:if="${storeInfo.storeType.name() == 'VEGAN_FOOD'}">
                                        <table id="grade-table">
                                            <tr>
                                                <td style="width: 40%;">이름</td>
                                                <td style="width: 19%; border-left: 1px solid lightgray;">가격</td>
                                                <td style="width: 18%; border-left: 1px solid lightgray;">비건등급</td>
                                                <td style="width: 13%; border-left: 1px solid lightgray;">삭제</td>
                                            </tr>
                                            <tr th:each="tableList : ${tableList}">
                                                <input type="hidden" class="tableId" th:value="${tableList.id}">
                                                <td style="width: 40%;">[[${tableList.menuName}]]</td>
                                                <td style="width: 19%; border-left: 1px solid lightgray;">
                                                    [[${tableList.menuPrice}]]
                                                </td>
                                                <td style="width: 18%; border-left: 1px solid lightgray;">
                                                    [[${tableList.vegetarianGrade}]]
                                                </td>
                                                <td style="width: 13%; border-left: 1px solid lightgray;">
                                                    <img class="truncate_icon"
                                                         th:src="@{/bootstrap/images/list/close.png}"
                                                         onclick="tableDel(this)"/>
                                                </td>
                                            </tr>
                                        </table>
                                    </div> <!-- end Grade Table -->

                                    <!-- Table -->
                                    <div class="table" th:if="${storeInfo.storeType.name() != 'VEGAN_FOOD'}">
                                        <table id="list-table">
                                            <tr>
                                                <td style="width: 40%;">이름</td>
                                                <td style="width: 19%; border-left: 1px solid lightgray;">가격</td>
                                                <td style="width: 13%; border-left: 1px solid lightgray;">삭제</td>
                                            </tr>
                                            <tr th:each="tableList : ${tableList}">
                                                <input type="hidden" class="tableId" th:value="${tableList.id}">
                                                <td style="width: 40%;">[[${tableList.menuName}]]</td>
                                                <td style="width: 19%; border-left: 1px solid lightgray;">
                                                    [[${tableList.menuPrice}]]
                                                </td>
                                                <td style="width: 13%; border-left: 1px solid lightgray;">
                                                    <img class="truncate_icon"
                                                         th:src="@{/bootstrap/images/list/close.png}"
                                                         onclick="tableDel(this)"/>
                                                </td>
                                            </tr>
                                        </table>
                                    </div> <!-- end Table -->
                                </div> <!-- end MenuList -->

                            <!-- 첨부 파일 -->
                            <!--                        <div>-->
                            <!--                            <label class="join-label">첨부파일</label>-->
                            <!--                            &lt;!&ndash;                        <input type="file" class="update-box" th:field="*{attachFile}">&ndash;&gt;-->
                            <!--                        </div>-->
                            <!--                    <div th:if="${#fields.hasGlobalErrors()}">-->
                            <!--                        <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">글로벌 오류 메시지</p>-->
                            <!--                    </div>-->
                        </div>

                        <div>
                            <button id="modifyBtn" class="regi-btn" type="submit">수정하기</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <script th:inline="javascript">
            // 글자수 제한
            function limitTextInput(event) {
                console.log(event);
                let countText = $(event).prev().children(".cm-text-count");
                console.log(countText);
                countText.html($(event).val().length + " / 300");

                if ($(event).val().length > 300) {
                    $(event).val($(event).val().substring(0, 300));
                    alert("300자까지 입력이 가능합니다.");
                    countText.html("300 / 300");
                }
            }

            // Social 주소 추가
            $("#socialAdd").click(function () {
                $("#socialAddress2").removeAttr("hidden");
                $("#socialAdd").attr("hidden", true);
            });

            // 테이블 Grade 추가
            $("#menuAdd").click(function () {
                let name = $("#menuName").val();
                let price = $("#menuPrice").val();
                let grade = $(":input:radio[name=vegetarianGrade]:checked").val();
                alert(grade);
                $.ajax({
                    url: "/zerogreen/stores/update/gradeTable",
                    method: "post",
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    data: {
                        name: name,
                        price: price,
                        grade: grade
                    }
                })
                    .done(function (fragment) {
                        $("#grade-table").replaceWith(fragment);
                        alert("메뉴 등록 완");
                        $("#menuName").val("");
                        $("#menuPrice").val("");
                        $(":input:radio[name=vegetarianGrade]:checked").prop('checked', false);
                    });
            }); //menuAdd ajax end

            //테이블 추가
            $(".menuAdd").click(function () {
                let name = $("#menuName").val();
                let price = $("#menuPrice").val();
                $.ajax({
                    url: "/zerogreen/stores/update/table",
                    method: "post",
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    data: {
                        name: name,
                        price: price
                    }
                })
                    .done(function (fragment) {
                        $("#list-table").replaceWith(fragment);
                        alert("메뉴 등록 완");
                        $("#menuName").val("");
                        $("#menuPrice").val("");
                    });
            }); //menuAdd ajax end

            // 테이블 삭제
            function tableDel(event) {
                let tableDel = $(event);
                let id = tableDel.parent().parent().find(".tableId").val();
                alert(id);
                $.ajax({
                    url: "/zerogreen/stores/update/table/delete",
                    method: "delete",
                    data: {
                        id: id
                    }
                })
                    .done(function (fragment) {
                        $("#list-table").replaceWith(fragment);
                    });

            }

        </script>
    </th:block>
</th:block>