<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>회원 가입</h2>
    </div>

    <h4 class="mb-3">회원 정보 입력</h4>

    <form action="" th:action th:object="${member}" method="post">


        <div>
            <label for="loginId">로그인 ID</label>
            <input type="text" id="loginId" th:field="*{username}" class="form-control">
            <div th:errors="*{username}">
                아이디 오류
            </div>

        </div>
        <div>
            <label for="password">비밀번호</label>
            <input type="password" id="password" th:field="*{password}" class="form-control">
            <div th:errors="*{password}">
                비번 오류
            </div>
        </div>
        <div>
            <label for="name">nickname</label>
            <input type="text" id="nickanme" th:field="*{nickname}" class="form-control">
            <div th:errors="*{nickname}">
                닉네임 오류
            </div>
        </div>
        <div>
            <label for="name">phoneNumber</label>
            <input type="text" id="phoneNumber" th:field="*{phoneNumber}" class="form-control">
            <div th:errors="*{phoneNumber}">
                전화 오류
            </div>
        </div>

        <div>
            <select th:field="*{vegetarianGrade}">
                <option value="">==베지테리언 등급==</option>
                <option th:each="vegan : ${vegan}" th:value="${vegan.name()}" th:text="${vegan.vegetarian}"></option>
            </select>
        </div>


        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">회원 가입</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg" onclick="location.href='items.html'"
                        th:onclick="|location.href='@{/}'|"
                        type="button">취소</button>
            </div>
        </div>

    </form>

</div> <!-- /container -->
</body>
</html>