<!DOCTYPE HTML>
<html th:replace="~{basic/basicJoinLayout :: layout(~{::article})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>회원 가입</h2>
    </div>

    <h4 class="mb-3">회원 정보 입력</h4>

    <article>
        <form th:action th:object="${store}" method="post" enctype="multipart/form-data">

            <div>
                <label for="username" class="join-label">로그인 ID</label>
                <input type="text" id="username" th:field="*{username}" class="form-control input-box">
                <button type="button" class="sendMail">인증</button>
                <div th:errors="*{username}" class="field-error">
                    아이디 오류
                </div>
            </div>
            <div style="display:none;" class="auth-box">
                <input type="text" class="authKey form-control">
                <button type="button" id="authConfirm">인증 확인</button>
            </div>

            <div>
                <label for="password" class="join-label">비밀번호</label>
                <input type="password" id="password" th:field="*{password}" class="form-control input-box">
                <div th:errors="*{password}" class="field-error">
                    비번 오류
                </div>
            </div>
            <div>
                <label for="phoneNumber" class="join-label">전화번호</label>
                <input type="text" id="phoneNumber" th:field="*{phoneNumber}" class="form-control input-box">
                <div th:errors="*{phoneNumber}" class="field-error">
                    전화 오류
                </div>
            </div>
            <div>
                <label for="storeRegNum" class="join-label">사업자 등록 번호</label>
                <input type="text" th:field="*{storeRegNum}" class="form-control input-box">
                <div th:errors="*{storeRegNum}" class="field-error">
                    닉네임 오류
                </div>
            </div>

            <div>
                <div>사업장 종류</div>
                <div th:each="stores : ${storeTypes}">
                    <input type="radio" th:field="*{storeType}" th:value="${stores.name()}">
                    <label th:for="${#ids.prev('storeType')}" th:text="${stores.storeType}"></label>
                </div>
            </div>
            <div>
                첨부파일<input type="file" th:field="*{attachFile}">
            </div>


            <hr class="my-4">

            <div class="row">
                <div class="col">
                    <button id="joinBtn" class="w-100 btn btn-primary btn-lg" type="submit" disabled="true">회원 가입</button>
                </div>
                <div class="col">
                    <button class="w-100 btn btn-secondary btn-lg" th:onclick="|location.href='@{/}'|" type="button">
                        취소
                    </button>
                </div>
            </div>

        </form>
    </article>
</div>
</body>
</html>