<!DOCTYPE html>
<th:block th:replace="~{basic/basicTemplate :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <!--페이지 수정 부분 시작-->

        <h1>수정된 내용</h1>

        <span>임시 테이블</span>
        <table>
            <tr th:each="temp :${tempStore}"
                th:onclick="|javascript:goStore('${temp.id}')|">
                <td scope="row">[[${temp.id}]]</td>
                <td>[[${temp.storeType}]]</td>
            </tr>
        </table>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
                integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
                crossorigin="anonymous"></script>

        <script th:inline="javascript">
            function goStore(id) {
                alert('goStore');
                /*[+
                var url = [[@{page/detail}]] +
                    "?id="+id;
                +]*/
                location.href = url;
            }

        </script>

    </th:block>
</th:block>
</html>