<!DOCTYPE html>
<th:block th:replace="~{basic/basicTemplate :: setContent(~{this::content})}" xmlns:th="http://www.w3.org/1999/xhtml"
          xmlns:sec="http://www.w3.org/1999/xhtml">
    <th:block th:fragment="content">
        <link rel="stylesheet" th:href="@{/bootstrap/css/index/index.css}" />

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
                integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
                crossorigin="anonymous"></script>
        <script type="text/javascript" th:src="@{/bootstrap/js/index/slider.js}"></script>
        <script type="text/javascript" th:src="@{/bootstrap/js/index/loginmodal.js}"></script>

        <!--login pop-up-->
        <div sec:authorize="isAnonymous()">
            <div id="popup-wrap">
                <div class="popup">
                    <span id="popup-text">로그인시 추가적인 서비스<br>이용이 가능합니다.</span>
                    <div>
                        <button id="popup-cancle">취소</button>
                        <button id="popup-login" th:onclick="|location.href='@{/login}'|">로그인</button></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row gtr-200">
            <!--Shop List-->
            <div id="shop-section">
                <!--식당 리스트-->
                <div style="position: relative;">
                    <span class="cate-title">내 주변 맛집</span>
                    <span id="food-left" class="arrow-left">&#139;</span>
                    <span id="food-right"  class="arrow-right">&#155;</span>
                    <div class="slider-container">
                        <div class="food-slider slider">
                            <div class="card" th:each="temp : ${approval}" th:unless="${temp.storeType.toString().equals('ECO_SHOP')}"
                                 th:onclick="|javascript: goStore('${temp.memberId}')|">
                                <div class="card-header">
                                    <img src="http://placehold.it/300x300"/>
                                </div>
                                <div class="shopList-box">
                                    <div class="card-body">
                                        <span class="shop-name">[[${temp.memberId}]]</span>
                                        <span class="shop-name">[[${temp.storeType}]]</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--제로웨이스트샵 리스트-->
                <div class="margin-title" style="position: relative;">
                    <span class="cate-title">근처 제로웨이스트샵</span>
                    <span id="shop-left" class="arrow arrow-left">&#139;</span>
                    <span id="shop-right" class="arrow arrow-right">&#155;</span>
                    <div class="slider-container">
                        <div class="shop-slider slider">
                            <div class="card" th:each="temp : ${approval}" th:if="${temp.storeType.toString().equals('ECO_SHOP')}"
                                 th:onclick="|javascript: goStore('${temp.memberId}')|">
                                <div class="card-header">
                                    <img src="http://placehold.it/300x300"/>
                                </div>
                                <div class="shopList-box">
                                    <div class="card-body">
                                        <span class="shop-name">[[${temp.memberId}]]</span>
                                        <span class="shop-name">[[${temp.storeType}]]</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Google Map-->
            <div id="map-section">
                <div id="map"></div>
            </div>
        </div>

        <script th:inline="javascript">
            function goStore(sno) {
                //alert('goStore');
                /*[+
                var url = [[@{page/detail}]] + "/" +sno ;
                +]*/
                location.href = url;
            }
        </script>

        <!--지도 부분-->
        <script type="text/javascript" th:src="@{/bootstrap/js/map.js}"></script>
        <script type="text/javascript"
                src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=8b90a59d1c1c795a8266f3f47ebfd1ac&libraries=services"></script>
        <div th:each="app,i : ${approval}" id="ddiv">
            <input id="mapSize" th:value="${i.size}" hidden>
            <input id="mapAddress" th:value="${app.storeAddress}" hidden>
            <input id="mapEco" th:if="${app.storeType.toString().equals('ECO_SHOP')}" th:value="${app.storeAddress}"
                   th:text="${app.storeAddress} + ' ' + ${app.storeType}" hidden>
            <input id="mapVFood" th:if="${app.storeType.toString().equals('VEGAN_FOOD')}" th:value="${app.storeAddress}"
                   th:text="${app.storeAddress} + ' ' + ${app.storeType}" hidden>
            <input id="mapGFood" th:if="${app.storeType.toString().equals('GENERAL_FOOD')}"
                   th:value="${app.storeAddress}" th:text="${app.storeAddress} + ' ' + ${app.storeType}" hidden>
            <hr>
        </div>

        <!--그네꺼~!~!~!-->
        <a th:href="@{/store/update}">그네 작업중@@@</a>
    </th:block>
</th:block>
</html>