<!DOCTYPE html>
<html th:replace="~{basic/basicTemplate :: layout(~{::section})}" lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>제로그린</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>

</head>
<body>
<!-- Main -->
<section>
    <div id="main-wrapper">
        <div class="container">
            <div id="content">
                <!--/*                        <div th:replace="${content}"></div>*/-->
                <!-- Content -->
                <h1>수정된 내용</h1>
            </div>
        </div>
    </div>
</section>
</body>
</html>