<!DOCTYPE html>
<th:block th:replace="~{basic/basicTemplate :: setContent(~{this::content})}" xmlns:th="http://www.w3.org/1999/xhtml"
          xmlns:sec="http://www.w3.org/1999/xhtml">
    <th:block th:fragment="content">
        <!--페이지 수정 부분 시작-->

        <!-- 페이지 css/ js 추가 -->
        <link th:href="@{/bootstrap/css/page/detail.css}" rel="stylesheet"/>
        <link id="contextPathHolder" th:data-contextPath="${#httpServletRequest.getContextPath()}"/>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
                integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

        <script th:src="@{/bootstrap/js/detail/detailReview.js}"></script>
        <script th:src="@{/bootstrap/js/detail/likes.js}"></script>

        <!-- 본문 시작 -->
        <div class="detail-content">

            <!-- 1열 -->
            <div class="detail-top temp2">
                <div class="top">가게 상세 이미지 들어갈 곳</div>
            </div>

            <!-- 2열 -->
            <div class="detail-sec">
                <div class="store-name">
                    <span class="js-storeName">[[${getStore.storeName}]]</span>
                </div>
                <div class="sec-flex">
                    <!-- 좋아요 정보 -->
                    <div class="inline sec sec-left">
                        <div class="inline">
                            <!-- 회원 좋아요 -->
                            <div sec:authorize="isAuthenticated()" id="like-wrapper">

                                <div th:if="${cntLike} == 0">
                                    <img class="liking dislike" th:attr="src = @{/bootstrap/images/like/disLike.png}">
                                    <!--                                <span class="countLikes">[[${cntLike}]]</span>-->
                                </div>

                                <div  th:if="${cntLike} == 1">
                                    <img class="liking like" th:attr="src = @{/bootstrap/images/like/like.png}">
                                    <!--                                <span class="countLikes">[[${cntLike}]]</span>-->
                                </div>
                            </div>
                            <!-- 비회원 좋아요 -->
                            <div sec:authorize="isAnonymous()">
                                <img th:attr="src = @{/bootstrap/images/like/disLike.png}" class="like-img"/>
                            </div>
                        </div>
                        <!--좋아요 수-->
                            <span class="like-cnt">[[${getStore.count}]]</span>
                    </div>

                    <!-- 리뷰정보 -->
                    <div class="inline sec sec-right">
                        <div class="inline">
                            <img class="speechBalloon" th:attr="src = @{/bootstrap/images/etc/bubble.png}">
                        </div>
                        <span class="review-cnt">[[${cnt2}]]</span>
                    </div>
                </div>

                <!-- 히든할것 -->
                <div style="display:none;">
                    <div sec:authorize="isAuthenticated()">
                        <div class="js-username" th:text="${member}"></div>
                    </div>
                </div>

            </div>

            <!-- 3열 -->
            <div class="detail-thr">
                <!-- 3열 좌측 -->
                <div class="thr-thr inline">
                    <div class="thr thr-left">
                        <div th:each="menu: ${menuList}">
                            <span>
                                <img th:src="@{'/bootstrap/images/profile/' +${menu.vegetarianGrade}+'.png'}"
                                 class="veganImg">
                            </span>
                            <span class="inline menu1" th:text="${menu.menuName}"></span>
                            <span class="inline menu2">-----------</span>
                            <span class="inline menu3" th:text="${menu.menuPrice}"></span>
                        </div>
                    </div>
                </div>
                <!-- 3열 우측 -->
                <div class="thr-thr inline">
                    <div class="thr thr-right temp2" th:object="${getStore}">
                        <span>전화 번호 : </span><span th:text="*{storeInfo.storePhoneNumber}"></span><br>
                        <span>영업 시간 : </span><span>[[*{storeInfo.openTime}]] - [[*{storeInfo.closeTime}]]</span><br>
                        <span>소셜 : </span><span>[[${getStore.storeInfo.socialAddress1}]]</span><br>
                        <span>소셜 : </span><span>[[${getStore.storeInfo.socialAddress2}]]</span><br>
                    </div>
                </div>
            </div>
            <!-- 3.5열  -->
            <div class="thr-bottom temp2">
                <span>가게 소개 : </span><span>[[${getStore.storeInfo.storeDescription}]]</span>
            </div>

            <!-- 4열 -->
            <div class="detail-map">
                <div id="map" style="width:900px;height:350px;"></div>
                <script type="text/javascript" th:src="@{/bootstrap/js/detail/detailMap.js}"></script>
                <script src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=8b90a59d1c1c795a8266f3f47ebfd1ac&libraries=services"></script>
                <input hidden id="mapAddress" type="text" th:value="${getStore.storeInfo.storeAddress}">
            </div>

            <!-- 리뷰작성칸 -->
            <div class="rv" sec:authorize="isAuthenticated()">

                <!-- preview -->
                    <div id="preview">
                    </div>

                <!-- 리뷰작성 textarea -->
                <form method="POST" th:object="${review}" enctype="multipart/form-data">
                    <span class="js-storeId" style="display:none;">[[${getStore.sno}]]</span>

                    <div class="rv-area" >
                        <textarea th:field="*{reviewText}" name="reviewText" id="reviewText" class="reviewText"
                                  onkeyup="limitTextInput(this)" placeholder="리뷰를 남겨보세요!"></textarea>
                        <div class="text-count-div">
                            <span class="text-count">0 / 500</span>
                        </div>
                    </div>

                    <div class="rv-area">
                        <label class="img-input rvrv-btn" for="img-input">사진선택</label><br>
                        <input class="img-input" id="img-input" th:field="*{imageFiles}" name="reviewImages" type="file"
                               multiple="multiple" style="display:none;"/>
                        <label class="rvrv-btn" for="rv-btn">리뷰등록</label>
                        <button type="submit" id="rv-btn" style="display:none;">리뷰등록</button>
                        <!--                    <span typeof="button" class="rvrv-btn inline" id="rv-btn">리뷰등록</span>-->
                    </div>
                </form>

            </div>

            <!-- 리뷰 이미지+텍스트 리스트 -->
            <div class="wrapper-review-list">
                <!-- 리뷰리스트 -->
                <div id="reviewList" class="reviewList">
                    <!-- 리뷰 이미지 리스트 -->
                    <div class="rv-images" style="position: relative;" th:if="${reviewImageList != null}">
                        <span id="image-left" class="arrow-left">&#139;</span>
                        <span id="image-right"  class="arrow-right">&#155;</span>
                        <div class="slider-container">
                            <div class="image-slider slider">
                                <div class="card rv-img-list" th:each="imageList, i: ${reviewImageList}">
                                    <img class="inline rv-imageOnly" th:src="@{/page/detail/images/{imageList}(imageList=*{imageList.reviewFileName})}"
                                         th:value="${imageList.uploadFileName}"
                                         width="120px" height="120px">
                                    <span class="idx">[[${i.index}]]</span>
                                    <span>[[${i.size}]]</span>
                                </div>
                            </div>
                        </div>
                        <!-- end slider-container -->
                    </div>
                    <!-- end review image list -->


                    <div th:each="mReview : ${memberReview}">
                        <!-- 멤버리뷰 리스트 -->
                        <div class="reviewBox">
                            <span class="reviewProfile">
                                <img th:src="@{'/bootstrap/images/profile/' +${mReview.vegetarianGrade}+'.png'}"
                                     th:onclick="|location.href='@{/members/memberMyInfo}'|" width="15px" height="15px">
                            </span>
                            <span class="rno" style="display:none;" th:text="${mReview.rno}"></span>
                            <span class="rv-nickname">[[${mReview.nickname}]]</span>
                            <span class="rv-date inline">[[${#temporals.format(mReview.createdTime, 'yyyy-MM-dd HH:mm')}]]</span>
                            <br>
                            <div th:if="${reviewImageList != null}" class="inline div11">

                                <div class="rv-img inline" th:each="mImage, idx: ${reviewImageList}" th:if="${mImage.detailReview.id == mReview.rno}">
                                    <img class="inline mImage mImage-fr"
                                         th:src="@{/page/detail/images/{mImage}(mImage=*{mImage.reviewFileName})}"
                                         th:value="${mImage.uploadFileName}"
                                         width="120px" height="120px" >
                                </div>

                                <div class="rv-img inline imgInfo" th:each="mImage, idx: ${reviewImageList}" th:if="${mImage.detailReview.id == mReview.rno}">
                                    <input class="imgPath" th:value="${mImage.filePath}">
                                    <input class="rnoRno" th:value="${mImage.detailReview.id}">
                                    <input class="imgId" th:value="${mImage.id}">
                                    <span class="size" th:text="${idx.size}"></span>
                                    <span class="idx" th:text="${idx.index}"></span>
                                </div>
                            </div>

                            <textarea class="mrv-textarea" name="reviewText" readonly>[[${mReview.reviewText}]]</textarea><br>

                            <div class="btn-Box">
                                <span class="srv-toAdd inline mrv-btn" th:if="${rvMember == mReview.sno}">답글</span>
                                <span class="mrv-modify inline mrv-btn" th:if="${rvMember} == ${mReview.id}">수정</span>
                                <span class="rv-delete mrv-delete inline mrv-btn" onclick="deleteImage(this)" th:if="${rvMember} == ${mReview.id}">삭제</span>
                            </div>

                            <!-- 스토어 리뷰 입력창 -->
                            <div class="srv-input" style="display:none;">
                                <textarea class="srv-input-textarea" name="storeReviewText" id="storeReviewText"
                                          onkeyup="limitTextInput(this)" placeholder="답글을 입력해주세요"></textarea>
                                <div class="text-count-div">
                                    <span class="text-count">0 / 500</span>
                                </div>
                                <div class="btn-Box">
                                    <span class="srv-adding inline mrv-btn" id="srv-adding">등록</span>
                                </div>
                            </div>

                            <!-- 스토어 리뷰 리스트 -->
                            <div class="sReview-Box" th:each="sReview: ${mReview.nestedReviewList}">

                                <div class="sReview-smallBox">
                                    <div class="inline">
                                        <img class="arrow" th:attr="src = @{/bootstrap/images/etc/arrow.png}">
                                    </div>
                                    <span class="sReview-profile">
                                        <img th:src="@{'/bootstrap/images/profile/STORE.png'}"
                                             width="16px" height="16px">
                                    </span>
                                    <span class="srno rno" th:text="${sReview.rno}" style="display:none;"></span>
                                    <span class="srv-storeName">[[${sReview.storeName}]]</span>
                                    <span class="rv-date inline">[[${#temporals.format(sReview.createdTime, 'yyyy-MM-dd HH:mm')}]]</span>
                                    <br>
                                    <textarea class="storeReviewText" name="storeReviewText" readonly>[[${sReview.reviewText}]]</textarea><br>
                                    <div class="btn-Box">
                                        <span class="srv-modify inline mrv-btn" th:if="${rvMember} == ${sReview.id}">수정</span>
                                        <span class="rv-delete srv-delete inline mrv-btn" th:if="${rvMember} == ${sReview.id}">삭제</span>
                                    </div>
                                </div>
                            </div>
                            <!-- end storeReviews list -->

                        </div>
                        <!-- end reviewBox -->
                    </div>
                    <!-- end div - Each -->
                </div>
                <!-- end rv-list -->
            </div>
            <!-- end review images and review list -->

            <!-- To the top -->
            <div>
                <button id="top-btn">
                    <img th:src="@{/bootstrap/images/arrowup.png}" style="width: 35px;"/>
                </button>
            </div>

            <!-- image modal -->
            <div class="modal image-model" style="display:none;">
                <span class="close">&times;</span>
                <span id="modal-left" class="modal-arrow-left">&#139;</span>
                <span id="modal-right"  class="modal-arrow-right">&#155;</span>
                <div class="slider-container">
                    <div class="modal-slider slider">
                        <div class="card modalEach">
                            <img class="modal_content" id="img01">
                        </div>
                    </div>
                </div>
                <!-- end slider-container -->
            </div>
            <!-- end modal -->

        </div>
        <!-- end of page-->


    </th:block>
</th:block>