<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<link th:href="@{/bootstrap/css/detail.css}" rel="stylesheet"/>

<div class="detail-content">

<!--    1열 카드이미지-->
<div class="detail-top temp1">1열 카드이미지
    <div class="top">가게 상세 이미지 들어갈 곳</div>
</div>

<!--    2열-->
    <div class="detail-sec temp2">
        <div>
            <span>비건을위한식당</span>
        </div>
        <div>
            <div>
            <span>♡♡♡♡♡</span>
            <span>좋아요 수: </span>
            </div>
            <div>
                <span>리뷰 이모티콘</span>
                <span>리뷰 수</span>
            </div>
        </div>
    </div>

<!--3열-->
<div class="detail-thr temp1">3열
<!--    3열 좌측-->
    <div class="thr thr-left">
        <span>가게메뉴</span>
        <span>가게메뉴</span>
        <span>가게메뉴</span>
    </div>
<!--    3열 우측-->
    <div class="thr thr-right">
        <span>가게소개</span>
        <span>영업시간</span>
        <span>전화번호</span>
        <span>영업시간</span>
        <span>기타기타</span>
    </div>
</div>

<!--    4열-->
    <div class="temp2">
        지도
    </div>

<!--리뷰작성칸-->
<div class="rv temp1"> 리뷰작성칸
    <div>
        <textarea name="" id="rv-textarea"></textarea>
    </div>
    <div>
        <button type="button" id="rv-btn">리뷰등록</button>
    </div>
</div>

<!--리뷰 이미지+텍스트 리스트   -->
<div class="temp2"> 리뷰이미지+텍스트리스트
<!--    리뷰 이미지 리스트-->
    <div class="rv-images">리뷰 이미지 리스트</div>
<!--    리뷰리스트-->
    <div class="rv-list">리뷰텍스트 리스트</div>
</div>




<!--end of page-->
</div>

