<!DOCTYPE html>
<th:block th:replace="~{basic/basicTemplate :: setContent(~{this::content})}">
    <th:block th:fragment="content">

        <!-- 페이지 css/ js 추가 -->
        <link th:href="@{/bootstrap/css/page/list.css}" rel="stylesheet"/>
        <!-- 본문 시작 -->

        <!-- 사업장 종류 -->
        <div class="listNav">
            <!--            <input type="radio" name="cp_item" class="cp_item" id="5000" value="5000" checked="checked"><label class="lb_5" for="5000">5,000원</label>-->
            <input type="radio" class="form-check-input storeType" id="radio1" name="storeType" value="Food" checked>
            <label class="form-check-label" for="radio1">전체</label>
            <input type="radio" class="form-check-input storeType" id="radio2" name="storeType" value="veganFood">
            <label class="form-check-label" for="radio2">비건 음식점</label>
            <input type="radio" class="form-check-input storeType" id="radio3" name="storeType" value="GeneralFood">
            <label class="form-check-label" for="radio3">친환경 포장</label>
        </div>

        <!-- 가게 리스트 -->
        <div class="card">
            <div class="card-header">
                <img src="http://placehold.it/300x300"/>
            </div>
            <div class="shopList-box">
                <div class="card-body">
                    <span>가게명</span>
                    <img height="15px" th:src="@{/bootstrap/images/list/call.png}">
                    <img height="15px" th:src="@{/bootstrap/images/list/clock.png}">
                    <img height="15px" th:src="@{/bootstrap/images/list/dish.png}">
                </div>
            </div>
        </div>
    </th:block>
</th:block>
