<!DOCTYPE html>
<th:block th:replace="~{basic/basicTemplate :: setContent(~{this::content})}" xmlns:th="http://www.w3.org/1999/xhtml">
    <th:block th:fragment="content">

        <!-- 페이지 css/ js 추가 -->
        <link th:href="@{/bootstrap/css/page/list.css}" rel="stylesheet"/>
        <script th:src="@{/bootstrap/js/store/storeList.js}"></script>

        <!-- 본문 시작 -->
        <!--검색-->
        <div class="form-area">
            <form th:action="@{/food/list}" method="get" id="foodSearchForm">
                <input type="hidden" name="page" value="1">
                <select class="dropdown" name="type">
                    <option>식당 이름</option>
                    <option>메뉴</option>
                </select>
                <div class="search-bar">
                    <input id="search-input" name="keyword">
                    <img class="truncate_icon" th:src="@{/bootstrap/images/list/close.png}"/>
                </div>
                <button class="btn_search">
                    <img class="search_icon" th:src="@{/bootstrap/images/list/search.png}">
                </button>
            </form>

            <!-- 사업장 종류 -->
            <div class="listNav">
                <input type="radio" class="form-check-input storeType" name="storeType">
                <label class="form-check-label" th:onclick="getFoodList('1')">전체</label>

                <input type="radio" class="form-check-input storeType" name="storeType">
                <label class="form-check-label" value="VEGAN_FOOD"
                       th:onclick="getTypeList('VEGAN_FOOD','1')">비건 음식점</label>

                <input type="radio" class="form-check-input storeType" name="storeType">
                <label class="form-check-label" value="GENERAL_FOOD"
                       th:onclick="getTypeList('GENERAL_FOOD','1')">친환경 포장</label>

            </div>
        </div>

        <div id="card-align">
            <div class="card" th:each="list : ${list}"
                 th:onclick="|location.href='@{/page/detail/{id}(id=${list.id})}'|">
                <div class="card-header">
                    <span class="mini-sorry">😅</span>
                    <span class="mini-text">아직 등록된 사진이 없어요</span>
                </div>
                <div class="shopList-box">
                    <div class="card-body">
                        <span class="like"><img class="icon" th:src="@{/bootstrap/images/list/heart.png}"> 1230</span>
                        <span class="shop-name">[[${list.storeName}]]</span>
                        <span>
                            <img class="icon" th:src="@{/bootstrap/images/list/call.png}"> [[${list.storePhoneNumber}]]</span>
                        <span th:if="${#strings.isEmpty(list.openTime)}">
                            <img class="icon" th:src="@{/bootstrap/images/list/clock.png}"> 매장 확인 필요</span>
                        <span th:unless="${#strings.isEmpty(list.openTime)}">
                            <img class="icon" th:src="@{/bootstrap/images/list/clock.png}"> [[${list.openTime}]] ~ [[${list.closeTime}]]</span>
                        <span><img class="icon" th:src="@{/bootstrap/images/list/dish.png}"> 감자뇨끼</span>
                    </div>
                </div>
            </div>
        </div>
        <script th:inline="javascript">
            //전체 리스트 이동
            function getFoodList(page) {
                /*[+
                const url = [[@{/food/list}]] +
                    "?page=" + page;
                +]*/

                location.href = url;
            }

            //카테고리 리스트 이동
            function getTypeList(name, page) {
                /*[+
                const url = [[@{/food/list}]] +
                    "?type=" +name + "&page=" + page;
                +]*/

                location.href = url;
            }
        </script>
    </th:block>
</th:block>

