<!DOCTYPE html>
<th:block th:replace="~{basic/basicTemplate :: setContent(~{this::content})}">
    <th:block th:fragment="content">

        <!-- 페이지 css/ js 추가 -->
        <link th:href="@{/bootstrap/css/page/list.css}" rel="stylesheet"/>
        <!-- 본문 시작 -->
        <!--검색-->
        <div id="search-wrap">
            <form th:action="@{/shop/list}" method="get" id="shopSearchForm">
                <div class="input-group-prepend">
                    <input type="hidden" name="page" value="1">
                    <select class="dropdown" name="type">
                        <option>가게 이름</option>
                        <option>상품</option>
                    </select>
                    <input id="search-bar" name="keyword">
                    <img class="btn_truncate" th:src="@{/bootstrap/images/list/close.png}"/>
                    <button type="button" class="btn_search">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </form>
        </div>

        <!-- 가게 리스트 -->
        <div class="card" th:each="list : ${list}">
            <div class="card-header">
                <img src="http://placehold.it/300x300"/>
            </div>
            <div class="shopList-box">
                <div class="card-body">
                    <span class="like"><img class="icon" th:src="@{/bootstrap/images/list/heart.png}"> 1230</span>
                    <span class="shop-name">[[${list.storeName}]]</span>
                    <span><img class="icon" th:src="@{/bootstrap/images/list/call.png}"> [[${list.storePhoneNumber}]]</span>
                    <span><img class="icon" th:src="@{/bootstrap/images/list/clock.png}"> [[${list.openTime}]] ~ [[${list.closeTime}]]</span>
                    <span><img class="icon" th:src="@{/bootstrap/images/list/box.png}"> 대나무 헬리콥터</span>
                </div>
            </div>
        </div>
        <script th:inline="javascript">
            //검색
            var searchForm = $("#searchForm");
            $('.searchButton').click(function (e) {
                searchForm.submit();
            });

            //검색어 비우기
            $('.btn_truncate').click(function () {
                $('#search-bar').val('');
            });

        </script>
    </th:block>
</th:block>
