<!DOCTYPE html>
<th:block th:replace="~{basic/basicTemplate :: setContent(~{this::content})}" xmlns:th="http://www.w3.org/1999/xhtml">
    <th:block th:fragment="content">

        <!-- 페이지 css/ js 추가 -->
        <link th:href="@{/bootstrap/css/page/list.css}" rel="stylesheet"/>
        <script th:src="@{/bootstrap/js/store/storeList.js}"></script>

        <!-- 본문 시작 -->
        <div>
            <!--검색-->
            <div style="position: relative;">
                <form class="form-area" th:action="@{/shop/list}" method="get" id="shopSearchForm">
                    <input type="hidden" name="page" value="1">
                    <select class="dropdown" name="type">
                        <option>가게 이름</option>
                        <option>상품</option>
                    </select>
                    <div class="search-bar">
                        <input id="search-input" name="keyword">
                        <img class="truncate_icon" th:src="@{/bootstrap/images/list/close.png}"/>
                    </div>
                    <button class="btn_search">
                       <img class="search_icon" th:src="@{/bootstrap/images/list/search.png}">
                    </button>
                </form>
            </div>

            <div style="position: relative;">
                <div id="card-align">
                    <!-- 가게 리스트 -->
                    <div class="card" th:each="list : ${list}"
                         th:onclick="|location.href='@{/page/detail/{id}(id=${list.id})}'|">
                        <div class="card-header">
                                <span class="sorry-emoji">😅</span>
                                <span class="sorry-text">아직 등록된 사진이 없어요</span>
                        </div>
                        <div class="shopList-box">
                            <div class="card-body">
                                <span class="like"><img class="icon" th:src="@{/bootstrap/images/list/heart.png}"> 1230</span>
                                <span class="shop-name">[[${list.storeName}]]</span>
                                <span><img class="icon" th:src="@{/bootstrap/images/list/call.png}">[[${list.storePhoneNumber}]]</span>
                                <span th:if="${#strings.isEmpty(list.openTime)}">
                                    <img class="icon" th:src="@{/bootstrap/images/list/clock.png}">매장 확인 필요</span>
                                <span th:unless="${#strings.isEmpty(list.openTime)}">
                                    <img class="icon" th:src="@{/bootstrap/images/list/clock.png}">[[${list.openTime}]] ~ [[${list.closeTime}]]</span>
                                <span th:if="${#strings.isEmpty(list.storeMenu)}">
                                    <img class="icon" th:src="@{/bootstrap/images/list/clock.png}">매장 확인 필요</span>
                                <span th:unless="${#strings.isEmpty(list.storeMenu)}">
                                    <img class="icon" th:src="@{/bootstrap/images/list/box.png}">[[${list.storeMenu}]]</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</th:block>